*{
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
.anacontainer{
    text-align: center;
    width: 24rem;
    height: 10rem;
    justify-content: center;
    font-size: 14rem;
    margin-left: 8rem;

}
.container{
    /* display: flex; */
    /* grid-gap: 0.5rem; */
    background-color: black;
    width: 100%;
}
.row1{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 0.1rem 0.1rem; */
}
.btn{
            font-size: 2rem;
            color: white;
            background-color: rgb(80, 78, 78);
			/* border: none; */
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(43, 40, 40, 0.5);
			float:left;
			height: 70px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 70px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		
}